/.idea
/.ipynb_checkpoints
/.venv
/allDataset.ipynb
/allDataset2.ipynb
/allModel3.ipynb
/cnn1.ipynb
/cnn2.ipynb
/cnn3.ipynb
/cnnModel.ipynb
/compare.ipynb
/compare.py
/deneme.ipynb
/denemeProject.py
/denemeProjectGraph.py
/Desktop
/dnn.ipynb
/Evaluating Deep Learning CNN and DNN Techniques.pptx
/model1.h5
/model2.h5
/model2.keras
/model3.h5
/modelDnn.h5
/modelDnn.keras
/newplot.png
/PotatoDataset
/sunum
/Untitled.ipynb
/WRONGPREDICT.png
/YaprakDataset
/__pycache__